@import "../utils/mixins";

#EditProfile {
  max-width: 1366px;
  margin: auto;
  position: relative;

  .profile {
    width: 100%;
    margin-top: 40px;
    @include center;
    flex-direction: column;
  }

  img {
    border-radius: 50%;
    margin-bottom: 24px;
  }

  .data {
    width: 300px;

    &::before {
      color: white;
    }

    .form {
      margin-top: 24px;
      input {
        text-align: left;
      }

      button {
        margin-top: 40px;
      }
    }
    .nickname {
    }
  }
}
