@import "../utils/mixins";

#EditProfile {
  .profile {
    width: 100vw;
    height: 100vh;
    @include center;
    flex-direction: column;
  }

  img {
    border-radius: 50%;
  }

  .data {
    width: 300px;

    &::before {
      color: white;
    }
    input {
      text-align: left;
    }
    .nickname {
    }
  }
}
