@import "../utils/mixins";
@import "../utils/animations";

#Landign {
  height: 100vh;
  background-image: url(../Assets/images/background.jpg);

  .about {
    position: relative;
    display: flex;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    overflow: hidden;

    .text {
      width: 50%;
      @include center;
      flex-direction: column;
      text-align: center;

      h1 {
        font-size: 3rem;
        line-height: 1.2em;

        span {
          font-size: 10rem;
          line-height: 5rem;
          color: var(--red);
        }
      }
      a {
        width: 50%;
      }
    }

    #landing-img {
      z-index: 2;
      width: 50%;
      animation: 1s appear;
      position: relative;

      img {
        height: 120%;
        margin-left: 10%;
      }
    }

    .circle {
      position: fixed;
      bottom: -10vw;
      right: -14vh;
      width: 800px;
      height: 800px;
      border-radius: 50%;
      background-color: var(--red-trans);
    }

    .social {
      width: 25%;
      font-size: 28px;
      @include center_between;
      position: absolute;
      bottom: 32px;
      cursor: pointer;

      & > svg:hover {
        transition: 300ms;
        transform: scale(1.5);
        color: var(--red);
      }
    }
  }
}

@media screen and (max-width: 620px) {
  #Landign {
    width: 100vw;
    height: 110vh;
    background-image: none;

    .about {
      display: block;
      z-index: 10;
      width: 100%;
      // height: auto;

      .text {
        width: 100%;
        min-height: 340px;

        h1 {
          line-height: 1em;
          font-size: 2rem;

          span {
            font-size: 7rem;
          }
        }
      }

      .social {
        position: relative;
        bottom: initial;
        margin-top: 16px;
        width: 70%;
      }

      #landing-img {
        z-index: 4;
        width: 100%;
        margin-top: -50px;

        img {
          width: 100%;
        }
      }

      .circle {
        position: absolute;
        bottom: -120px;
        z-index: 0;
        width: 500px;
        height: 500px;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  #Landign {
    background-image: none;
  }
}
