@import "../utils/mixins";
@import "../utils/animations";

#Sesion {
  background-image: url(../Assets/images/background.jpg);
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.sesion__title {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
  color: var(--red);
  font-size: 3rem;
}

.sesionWrap {
  @include center;
  height: 90%;
}

.contentSesion {
  padding: 5%;
  width: 50%;

  .signupRrss {
    @include center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 48px;

    button {
      margin: 8px;
    }
  }
}

.form {
  width: 80%;
  margin: 0 auto;

  input {
    margin-bottom: 16px;
    font-family: var(--main-font);
    font-size: 1.2rem;
  }
}

.imageSesion {
  width: 50%;
  height: 100%;
  z-index: 100;
  animation: appear 500ms ease-in-out 100ms;
  animation-fill-mode: forwards;
  opacity: 0;

  img {
    height: 120%;
    margin-top: -48px;
    margin-left: 4vw;
  }
}

.circleBackground {
  width: 800px;
  height: 800px;
  background-color: var(--red-trans);
  border-radius: 50%;
  position: absolute;
  bottom: -34%;
  right: -7%;
  z-index: 1;
  animation: appear 200ms ease-in-out;
}

@media screen and (max-width: 620px) {
  #Sesion {
  }

  .sesionWrap {
    display: block;
  }

  .contentSesion {
    width: 100%;
  }

  .imageSesion {
    display: none;
  }

  .circleBackground {
    display: none;
  }
}
