@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin fullview {
  width: 99vw;
  height: 100vh;
}

@mixin grid_position($row, $row2, $column, $column2) {
  grid-row: $row / $row2;
  grid-column: $column / $column2;
}

@mixin fill-content {
  width: 100%;
  height: 100%;
}
